@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body {
    background-color: #121212;
    color: #c0c0c0;
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#terminal {
    width: 90%;
    max-width: 800px;
    background-color: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

#welcome-message {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    color: #00ff00;
    font-weight: 300;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #2e2e2e;
    border-radius: 10px;
    margin-bottom: 15px;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
}

#input-container {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    animation: slideUp 0.5s ease-in-out;
}

#prompt {
    margin-right: 10px;
    color: #00ff00;
    font-weight: 700;
}

#input {
    flex: 1;
    background: transparent;
    border: none;
    color: #c0c0c0;
    font-size: 16px;
    outline: none;
    padding: 5px;
}

.command {
    color: #00ff00;
    font-weight: 700;
}

.result {
    color: #c0c0c0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
